// Header styles here
header {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  border-bottom: 2px dashed lightgray;
  
  h1 {
    @media @mobile {
      text-align: center;
      font-size: 2.5rem;
      padding: 2%;
    } // this closes media query
  } // this closes h1
} // this closes header