// Navigation Styles here
nav {
  @media @mobile {
    border-bottom: 2px dashed lightgray;
    display: flex;
    justify-content: space-around;
    padding: 2%;
  } // this closes media query
  a {
    @media @mobile { 
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
    } // this closes media query
  } // this closes anchor
} // this closes nav